{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Anúncios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.2/dist/semantic.min.js"></script>
</head>

<body>

<div class="ui attached inverted menu">
    <div class="ui container">
        <a href="{% url 'home' %}" class="item">DJANGO ANÚNCIOS</a>
        <div class="right menu">
            <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Pesquisar..." style="color: white;">
                    <i class="search inverted icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container ">
    <div class="ui stackable grid">
        <div class="sixteen wide column">
        </div>
        <div class="four wide column">
            <h3>Categorias</h3>
            <hr>
            <div class="ui secondary vertical fluid pointing menu">
                <script>
                    count = {{ count_anuncios }}
                </script>
                {% for categoria in categorias %}
                    <a id="{{ categoria.slug }}" href="{% url 'categoria' slug=categoria.slug  %}" class="item center aligned">
                        {{ categoria }} <div class="ui label"></div>
                    </a>
                    <script>
                        item = document.getElementById('{{ categoria.slug }}')
                        if (document.URL == item.href){
                            item.className = "black active item center aligned"
                            item.getElementsByTagName('div')[0].style = "background-color: black;"
                            item.style = "margin-left: 10px;"
                        }
                        item.getElementsByTagName('div')[0].innerText = count.splice(0,1)
                    </script>
                {% endfor %}

            </div></div>
        <div class="twelve wide column">
            <hr style="margin-top: 37px">
            {% block conteudo %}
            {% endblock %}
        </div>
    </div>
</div>



</body>
</html>

